# clark's stuff
practice
practice.cpp
citadel
citadel.cpp
.vscode/

# Prerequisites
*.d

#ignore my play areas
playground*
andrew*
UNUSED

# ignore docs generator programs and files
ext

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
